{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html lang="fr" class="h-full relative"> 
	<head>
		<!-- OneTrust Cookies Consent Notice start for blick.ch -->
		{# <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="d57e5842-f42f-46bc-a4ea-4a82bd82322c" ></script>
		<script type="text/javascript">
		function OptanonWrapper() { } 
		</script> #}
		<!-- OneTrust Cookies Consent Notice end for blick.ch --> 

		<script src="https://cdn.tailwindcss.com"></script>  
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css" rel="stylesheet">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/apexcharts.css">
		<link rel="stylesheet" href="css/main.css">
		<!-- <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" /> -->

		{# <?php include 'hb_card_tp.php'; ?> #}
		{{ block('head_brand') }}
		
	</head>
	<!-- OneTrust Cookies Consent Notice start for blick.ch -->
	<!-- <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="d57e5842-f42f-46bc-a4ea-4a82bd82322c" ></script>
	<script type="text/javascript">
	function OptanonWrapper() { } 
	</script> -->
	<!-- OneTrust Cookies Consent Notice end for blick.ch --> 
	{{ block('frame') }}
	<body class="bg-white h-full"> 
		<div class="wrapper">
		<!-- {{ block('loading_overlay') }} -->
		{{ block('gtm') }}
		
		{{ block('header') }}
		{{ block('menu_overlay') }}
		{# <?php include 'hb_header_tp.php'; ?> #} 
		
		

		{# ------------------------------------------------------------------------ #}
		{# HERO 50/50 NOT BOXED #}
		<div class="hero color-gradient">
			<div class="container h-full max-w-screen-xl relative px-4 md:px-20">

				<div class="w-auto md:w-3/5 h-1/3 md:h-full absolute md:relative bottom-0 left-4 right-4">
					<div class="absolute bottom-0 md:bottom-auto top-auto md:top-1/2 -translate-y-0 md:-translate-y-1/2 text-center md:text-left">
						<h3 class="w-full text-lg md:text-xl mb-2 md:mb-8 font-light">C'est bien du café !</h3> 
						<h1 class="text-gradient text-2xl md:text-6xl font-bold mb-6 md:mb-10">Comment Nespresso a imaginé ses capsules à base de papier</h1>
						{{ block('sponsor_bar') }}
					</div>
				</div>

			</div>
		</div>
		{# ------------------------------------------------------------------------ #}
		
		{# ------------------------------------------------------------------------ #}
		{# HERO 50/50 BOXED #}
		{#  <div class="hero container max-w-screen-2xl md:flex flex-row-reverse">
			<div class=" w-full md:w-1/2">
				<figure class="w-full h-full float-right bg-bottom bg-cover contrast-125" style="background-image:url('img/this/1/_f2_8580.jpg');">
				</figure>
			</div>
			<div class="bg-amber-200 w-full md:w-1/2 px-4 md:px-12 pt-8 md:pt-28 pb-8 md:pb-12">
				<div class="">
					<h1 class="text-gradient text-4xl md:text-7xl font-semibold mb-6 md:mb-10 ">Durable, le café en capsules?</h1>
					<div class="container authors flex py-4 border-y border-gray-400">
						<div class="author w-40">
							<a target="_blank" href="https://www.blick.ch/fr/auteurs/amit-juillard-journaliste-blick-id16519941.html" class="flex items-center">
								<div class="align-text-bottom text-xs">
									<span class="inline-block font-extrabold underline">Amit Juillard</span><br>
									<span class="inline-block">Texte</span>
								</div>
							</a>
						</div>
						<div class="author w-48">
								<div class="align-text-bottom text-xs">
									<span class="inline-block font-extrabold">Valentin Flauraud</span><br>
									<span class="inline-block">Photographie</span>
								</div>
						</div>
						<div class="author w-48">
								<div class="align-text-bottom text-xs">
									<span class="inline-block font-extrabold">César Greppin</span><br>
									<span class="inline-block">Format web</span>
								</div>
						</div>
						
					</div>
					<p class="text-xl md:text-2xl mt-6 md:mt-10">Pour la première fois, un consommateur, un drug-checking et le labo toxicologique des Hôpitaux universitaires de Genève ont laissé un journaliste suivre des échantillons de MDMA et de coke à la trace.
					</p>
					{{ block('social') }}
				</div>
			</div>
		</div>#}
		{# ------------------------------------------------------------------------ #}

		{# ------------------------------------------------------------------------ #}
		{# GROSSE CITATION#}
		{# <blockquote class="mt-12 mb-12 border-l-4 border-black pl-4 block">
			<span class="text-4xl font-semibold leading-normal bg-amber-100">« Passer pour un idiot aux yeux d'un imbécile est une volupté de fin gourmet »</span>
			<span class="mt-4 block text-left font-semibold">— Jacques Chirac, Président de la République</span>
		</blockquote> #}
		{# ------------------------------------------------------------------------ #}

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="chapeau container py-8 max-w-2xl">
				<p class="text-xl md:text-2xl mt-2 md:mt-12">
					Concevoir des cafés aux arômes raffinés, à la qualité incomparable : c’est tout le savoir-faire de Nespresso. Une expertise que l’entreprise suisse a dû mettre à profit pour relever un défi de taille, la création d’une capsule à base de papier, compostable à domicile. Circularité et excellence gustative font-elles bon ménage ? Retour sur les coulisses d’une réelle innovation.
				</p>
			</div>            
			{{ block('social') }}
			<!-- <div id="chart"></div> -->
			<div class="container mt-8 mb-12 max-w-2xl">
				<p class="lettrine text-lg font-light mb-16">
					« En bouche il y une fine acidité avec un côté très torréfié, presque cacaoté », identifie Jérôme Aké Béda, sommelier de renom et Maître d'Hôtel, qui se prête au jeu de la dégustation pour Nespresso. A priori, rien d’étonnant pour un café d’exception. Nespresso est réputée autant pour la diversité que pour la qualité de ses assemblages. Et avec ses innombrables cafés, distribués dans 83 pays, le fabricant suisse sait depuis longtemps comment répondre aux préférences locales, aux attentes différenciées de chaque marché, parfois au sein d’un même territoire ! On l’oublie parfois, mais l’allié de poids que Nespresso a développé pour garantir les nuances subtiles de sa large gamme de saveurs, c’est sa capsule en aluminium. Léger, et recyclable à l’infini, ce matériau est l’un des meilleurs pour conserver la fraîcheur et les qualités du café pour une plus longue durée de conservation.
				</p>
				
				<figure class="w-7/12 mx-auto mb-16">
					<div class="grid grid-cols-2 gap-x-8 pb-4">
						<img src="img/this/capsule1.png" alt="photo de capsule Nespresso en aluminium">
						<img src="img/this/capsule2.png" alt="photo de capsule Nespresso en papier">
					</div>
					<figcaption class="text-xs opacity-50">A gauche, la traditionnelle capsule en aluminum. A droite, la nouvelle capsule en papier</figcaption>
				</figure>
				
				<p class="text-lg font-light mb-16 md:mb-36">
					Pourtant, les commentaires enthousiastes du sommelier concernent des arômes encapsulés, pour la première fois… dans une capsule à base de papier ! Une matière utilisée de manière inédite par Nespresso, et qui a posé de sacrés défis, notamment gustatifs. Les propriétés et le processus d’extraction d’une capsule conçue avec un composant autre que l’aluminium peuvent créer un résultat et une expérience sensorielle en tasse différents de ce que connaissent les habitués. Alors comment la marque a-t-elle réussi à garantir ses saveurs, et maintenir une expérience de dégustation inégalée? Retour sur un tour de force.
 
				</p>
			</div>
		</div>
		
		<section id="title1" class="color-gradient overflow-visible px-4 md:px-0 py-4 md:py-12 h-custom-title">
			<div class="container max-w-4xl h-full relative">
				<div class="w-4/6 md:w-6/12 float-left pt-10">
					<h2 class="mb-6 md:mb-10 text-custom-dark2 font-thin">Cinq<br>nouveaux<br>assemblages</h2>
				</div>
				<div class="img-container w-1/4 float-left absolute left-custom-imgcontainer top-1/2 -translate-y-1/2 z-10">
					<img src="img/this/inter-1-sac-5.png" alt="" class="absolute h-full w-full top-0 right-0 bottom-0 left-0">
					<img src="img/this/inter-1-sac-4.png" alt="" class="absolute h-full w-full top-0 right-0 bottom-0 left-0">
					<img src="img/this/inter-1-sac-3.png" alt="" class="absolute h-full w-full top-0 right-0 bottom-0 left-0">
					<img src="img/this/inter-1-sac-2.png" alt="" class="absolute h-full w-full top-0 right-0 bottom-0 left-0">
					<img src="img/this/inter-1-sac-1.png" alt="" class="absolute h-full w-full top-0 right-0 bottom-0 left-0">
				</div>
				<!-- <img src="img/this/inter-1-sac-1.png" alt="" class="absolute  z-10"> -->
				
			</div>
		</section>

		<div class="container max-w-screen-2xl px-4 relative bg-white pt-10 md:pt-16">
			<div class="container pt-8 max-w-2xl relative">
							
				<p class="text-lg font-light mb-10 lettrine">
					Il a d’abord fallu repenser les assemblages de café. Au-delà d’une innovation technique, « il s’agit là également d’une innovation dans le type de café associé à ces capsules. Nous avons identifié pour ces capsules à base de papier des cafés et assemblages qui offrent la meilleure expérience, ainsi qu’une expression en tasse de grande qualité», précise Dominique Niederhauser, Expert café chez Nespresso Suisse. 	
				</p>
				<p class="text-lg font-light mb-10 w-3/5">
					Le café Nespresso se définit par un équilibre, un corps et une subtile dominance aromatique qui peut être fruitée, voire torréfiée en fonction des préférences de ses consommateurs. L’arrivée des nouvelles capsules n’a pas changé l’ADN de la marque : qualité de la matière première et des procédés agricoles, fraîcheur du produit qui préserve les arômes jusqu’à l’insertion de la capsule dans une machine. Cependant, elle a contraint ses équipes à adapter la sélection, la mouture et la torréfaction afin de garder ce style de qualité Nespresso, tout en l’adaptant à la capsule papier et à une pression d’extraction plus légère. 
				</p>
				<blockquote class="absolute w-2/4 left-3/4 top-1/2 -translate-y-1/2 text-custom-dark1 pt-6 pb-5">
					<div class="linetop w-full h-px bg-custom-dark1 absolute top-0"></div>
					<div class="linebottom w-full h-px bg-custom-dark1 absolute bottom-0"></div>
					« Ici une citations qui parle de café, extraordinaire »
					<span class="auth block mt-5">– Nina Hagendas</span>
				</blockquote>
				<p class="text-lg font-light mb-12">
					Résultat : cinq cafés uniques et singuliers, dont l’un est certifié bio, avec des profils distincts. Hormis la déclinaison Peru Organic, ces saveurs n’existent pas dans la gamme de capsules en aluminium, mais font mouche auprès des aficionados de la boisson. D’ailleurs, pour valider ces nouveaux breuvages, Nespresso s’est exposée, pour Blick, à des avis externes de références, ceux de professionnels du goût, à savoir la cheffe Silvia Manser du restaurant Truube à Gais et Jérôme Aké Béda, sommelier de renom et Maître d'Hôtel. 
				</p>
				
			</div>
		</div>

		<div class="container max-w-4xl relative bg-red p-0">
			<div class="mx-auto">
							
				<iframe class="w-full aspect-video mb-12" src="https://player.vimeo.com/video/524933864?h=1ac4fd9fb4&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

			</div>
		</div>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container max-w-2xl">
							
				<p class="text-lg font-light mb-10">
					Pour ces spécialistes du goût, la qualité Nespresso n’est pas compromise, au contraire !
					Ils dégustent Ispirazione Sicilia, qui, comme les arômes du café Ispirazione Emilia se définit par une saveur intense. « C’est vraiment un grand café » pour Jérôme Aké Béda qui apprécie « sa densité en bouche ». « Beaucoup de rondeur, de structure, beaucoup de longueur… », savoure le chef. L’intensité des arômes inspire d’ailleurs une recette inédite à Silvia Manser, à base de saumon ! 
 	
				</p>
				<p class="text-lg font-light mb-16 md:mb-36">
					Peru Organic et Ispirazione Aosta, autres cafés déclinés dans ces nouvelles capsules, d’intensité moyenne, répondent aux besoins d’un café rond et gourmand. Le Decaffeinato, espresso intense et aromatique au mélange fortement torréfié, dévoile pour sa part des arômes de céréales grillées, une touche de cacao et des notes délicates de fruit… le tout sans caféine !
				</p>
				
			</div>
		</div>

		<section id="title2" class="color-gradient overflow-visible px-4 md:px-0 py-4 md:py-12 h-custom-title">
			<div class="container max-w-4xl h-full relative">
				<div class="w-4/6  float-left pt-10">
					<h2 class="mb-6 md:mb-10 text-custom-dark2 font-thin">Rétro-compatibilité et conservation</h2>
				</div>
				<div class="img-container w-1/4 float-left absolute -right-16 -bottom-12 z-10">
					<img src="img/this/img-titre2.png" alt="" class="w-full">
					
				</div>
				<!-- <img src="img/this/inter-1-sac-1.png" alt="" class="absolute  z-10"> -->
				
			</div>
		</section>

		<div class="container max-w-screen-2xl px-4 relative bg-white pt-10 md:pt-16">
			<div class="container pt-8 max-w-2xl relative">
							
				<p class="text-lg font-light mb-10 lettrine">
					Sur le plan gustatif, maintenir la qualité et l’expérience Nespresso a représenté un challenge. Mais techniquement, les limites ont aussi été repoussées. La collection Home Compostable constitue une innovation de rupture. Elle a en effet demandé de porter la technologie de production des capsules alu, bien établie, à des niveaux de précision sans précédent, pour retrouver la qualité Nespresso dans une capsule à base de papier.	
				</p>
				<p class="text-lg font-light mb-12">
					Il a d’abord fallu s’assurer de la rétrocompatibilité de ces capsules. Hors de question de concevoir un nouveau système d’extraction ou de demander aux consommateurs l’achat d’une nouvelle machine, Nespresso a voulu que ces capsules puissent s’utiliser avec son système de machines historique, dit « Original », actuellement le plus répandu. 
				</p>
				
			</div>
		</div>

		<figure class="max-w-4xl mx-auto mb-12">
			<div class="grid grid-cols-2 gap-x-5 mb-4">
				<img src="img/this/img-double-1.png" alt="">
				<img src="img/this/img-double-2.png" alt="">
			</div>
			<figcaption class="text-xs opacity-50">Pas de légende actuellement</figcaption>
		</figure>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container pt-8 max-w-2xl relative">
							
				<p class="text-lg font-light mb-10">
					C’est une collaboration avec le finlandais Huhtamaki, spécialiste mondial de solutions d’emballage durable qui a permis de trouver la solution. Sa technologie de formage haute précision, est partie d’un procédé déjà connu et utilisé, pour produire par exemple les boîtes à œufs. Cette technique a ensuite été dotée de plusieurs innovations pour permettre le formatage de haute précision à la pâte à papier. Produites à Orbe, ces nouvelles capsules sont donc composées à 82 % de pâte à papier. 
				</p>
				<p class="text-lg font-light mb-12">
					Autre défi : la conservation. La force de l’alu est d’offrir une longue durée de vie au café, de garantir le maintien de sa saveur, de sa fraicheur et de ses arômes, des mois durant. Comment retrouver des propriétés équivalentes avec matériau capable de se décomposer, donc, aux spécificités a priori opposées ? Nespresso a planché sur le sujet durant trois longues années. Son innovation associe plusieurs éléments. Une fine pellicule biodégradable, d’abord, qui recouvre l’intérieur de la capsule à base de papier, afin de protéger le café du phénomène d’oxydation, et de préserver ses délicats arômes et sa fraîcheur. 
				</p>

				<figure class="w-full mx-auto mb-12">
					<div class="mb-4">
						<img src="img/this/img-solo-1.png" alt="">
					</div>
					<figcaption class="text-xs opacity-50">Pas de légende actuellement</figcaption>
				</figure>

				<p class="text-lg font-light mb-12">
					Un packaging dédié, ensuite, à savoir un sac en papier assurant une conservation de six mois (si fermé) - un mois, à compter de l’ouverture du sachet refermé ensuite correctement, soit avec une pince ou un clip de scellage. S’il n’est pas nécessaire de changer de machine, adopter quelques bons gestes est donc conseillé!
				</p>
				
				
			</div>
		</div>

		<figure class="color max-w-4xl mx-auto px-8 py-6 rounded-2xl mb-16 md:mb-48">
			<h4 class="text-xl md:text-3xl mb-12 md:mb-10">
				Pour obtenir le meilleur café possible avec les capsules à base de papier, compostables à domicile de Nespresso :
			</h4>
			<ul>
				<li class="flex mb-6">
					<span><div class="dot rounded-full mr-8"></div></span>
					<span class="text-xl font-light">Après avoir préparé votre café, éjecter la capsule dans le bac dédié, et vider ce dernier au moins une fois par jour, dans votre compost domestique si vous en disposez.</span>
				</li>
				<li class="flex mb-6">
					<span><div class="dot rounded-full mr-8"></div></span>
					<span class="text-xl font-light">Refermer le sachet de protection qui réunit les capsules après chaque utilisation avec une pince dédiée.</span>
				</li>
				<li class="flex mb-6 items-center">
					<span><div class="dot rounded-full mr-8"></div></span>
					<span class="text-xl font-light">Conserver le sachet dans un endroit frais et sec, à température ambiante</span>
				</li>
				<li class="flex mb-6">
					<span><div class="dot rounded-full mr-8"></div></span>
					<span class="text-xl font-light">Eviter de stocker les capsules ou leur sachet au réfrigérateur, l’humidité aura une incidence sur la fraîcheur du café !</span>
				</li>
				<li class="flex mb-6">
					<span><div class="dot rounded-full mr-8"></div></span>
					<span class="text-xl font-light">Après ouverture du sachet, déguster toutes les capsules dans les deux semaines.
					</span>
				</li>
				<li class="flex mb-6">
					<span><div class="dot rounded-full mr-8"></div></span>
					<span class="text-xl font-light">Quatre semaines après ouverture de leur sachet de protection, les capsules auront perdu une partie de leur saveur. La durée de conservation d’un sachet non ouvert est de six mois.</span>
				</li>
			</ul>
		</figure>

		<section id="title1" class="color-gradient overflow-visible px-4 md:px-0 py-4 md:py-12 h-custom-title">
			<div class="container max-w-4xl h-full relative">
				<div class="w-4/6 md:w-6/12 float-left pt-10">
					<h2 class="mb-6 md:mb-10 text-custom-dark2 font-thin">Faciliter le compostage à la maison</h2>
				</div>
				<div class="img-container w-1/4 float-left absolute left-custom-imgcontainer top-1/2 -translate-y-1/2 z-10">
					<img src="img/this/img-titre3.png" alt="" class="absolute h-full w-full top-0 right-0 bottom-0 left-0">
				</div>
				<!-- <img src="img/this/inter-1-sac-1.png" alt="" class="absolute  z-10"> -->
				
			</div>
		</section>

		<div class="container max-w-screen-2xl px-4 relative bg-white pt-10 md:pt-20">
			<div class="container pt-8 max-w-2xl relative">
							
				<p class="text-lg font-light mb-12 lettrine">
					L’impact environnemental d’une capsule compostable Nespresso est équivalent à celui d’une capsule Nespresso recyclée, révèle une analyse interne, qui prend en compte tout le cycle de vie du produit. Quel est alors l’intérêt de cette innovation, côté environnement ? D’abord, offrir une solution durable à celles et ceux qui préfèrent et qui peuvent composter à domicile ! 	
				</p>

			</div>
		</div>

		<figure class="color max-w-4xl mx-auto px-8 py-6 rounded-2xl mb-12">
			<h4 class="text-xl md:text-3xl mb-12 md:mb-10 text-center">
				Compostage facile à<br>votre domicile
			</h4>
			<div class="grid grid-cols-3 gap-x-8">
				<div>
					<img src="img/this/dot-1.svg" class="mx-auto mb-4" alt="">
					<img src="img/this/compost1.svg" class="mx-auto mb-2" alt="">
					<span class="font-light text-center block">Composez votre composte en équilibrant déchets de jardin et de cuisine. Ajoutez vos capsule en papier Nespresso.</span>
				</div>
				<div>
					<img src="img/this/dot-2.svg" class="mx-auto mb-4" alt="">
					<img src="img/this/compost2.svg" class="mx-auto mb-2" alt="">
					<span class="font-light text-center block">Alimentez ensuite votre composte avec déchets secs et humides. Remuez régulièrement et arrosez si nécessaire.</span>
				</div>
				<div>
					<img src="img/this/dot-3.svg" class="mx-auto mb-4" alt="">
					<img src="img/this/compost3.svg" class="mx-auto mb-2" alt="">
					<span class="font-light text-center block">Les capsules Nespresso à base de papier sont décomposées naturellement en même temps que les déchets végétaux</span>
				</div>
			</div>
		</figure>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container pt-8 max-w-2xl relative">
							
				<p class="text-lg font-light mb-10">
					Nespresso s’est en effet assurée que ses capsules se dégradent en un temps record. D’après les normes les plus strictes du secteur, la durée de biodégradabilité du compost domestique est de douze mois (à 28 °C et 40% d’humidité), contre six mois pour le processus industriel. 
				</p>
			</div>
		</div>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container pt-8 max-w-2xl relative">


				<p class="text-lg font-light mb-10 w-3/5">
					Bien que les deux procédés reposent sur les mêmes principes, -la transformation des matières en dioxyde de carbone, en eau et en biomasse par des micro-organismes-, leurs conditions diffèrent. « Le compostage industriel se fait dans des installations spéciales qui peuvent traiter de très grandes quantités de biodéchets. Les températures sont élevées et toutes les conditions sont réunies pour obtenir un compost de qualité en un temps relativement court. C’est un véritable paradis pour les micro-organismes.
				</p>

				<blockquote class="absolute w-2/4 left-3/4 top-1/2 -translate-y-1/2 text-custom-dark1 pt-6 pb-5">
					<div class="linetop w-full h-px bg-custom-dark1 absolute top-0"></div>
					<div class="linebottom w-full h-px bg-custom-dark1 absolute bottom-0"></div>
					« Ici une citations qui parle de café, extraordinaire »
					<span class="auth block mt-5">– Nina Hagendas</span>
				</blockquote>

			</div>
		</div>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container pt-8 max-w-2xl relative">

				<p class="text-lg font-light mb-12">
					Dans le cas du compostage à domicile, en revanche, l’apport de matière fraîche est moins fréquent et moins intensif. La température est ainsi abaissée et le processus est considérablement ralenti », précise TÜV Austria, organisme aujourd’hui référence en la matière, et qui a certifié les nouvelles capsules Nespresso.  Néanmoins, de nombreux tests ont montré que la décomposition de ces dernières survient dans un délai bien plus court que les douze mois réglementaires. 
				</p>

				<figure class="color mx-auto px-8 py-6 rounded-2xl mb-12">
					<h4 class="text-xl md:text-3xl mb-12 md:mb-10">
						Ok « Compost HOME » en un clin d’œil
					</h4>
					<ul>
						<li class="flex mb-6">
							<span><div class="dot rounded-full mr-8"><img src="img/this/check.svg" alt=""></div></span>
							<span class="text-xl font-light">Le seul modèle de certification volontaire pour le compostage domestique</span>
						</li>
						<li class="flex mb-6 items-center">
							<span><div class="dot rounded-full mr-8"><img src="img/this/check.svg" alt=""></div></span>
							<span class="text-xl font-light">Assuré par une entreprise autrichienne</span>
						</li>
						<li class="flex mb-6 items-center">
							<span><div class="dot rounded-full mr-8"><img src="img/this/check.svg" alt=""></div></span>
							<span class="text-xl font-light">Basé sur une norme industrielle européenne</span>
						</li>
						<li class="flex mb-6">
							<span><div class="dot rounded-full mr-8"><img src="img/this/check.svg" alt=""></div></span>
							<span class="text-xl font-light">Adapté aux conditions spécifiques du compostage domestique (températures plus basses et dégradation plus longue)</span>
						</li>
						<li class="flex mb-6">
							<span><div class="dot rounded-full mr-8"><img src="img/this/check.svg" alt=""></div></span>
							<span class="text-xl font-light">Quatre critères sont mesurés : la biodégradabilité, la désintégration, l’écotoxicité et les propriétés des matériaux</span>
						</li>
						<li class="flex mb-6">
							<span><div class="dot rounded-full mr-8"><img src="img/this/check.svg" alt=""></div></span>
							<span class="text-xl font-light">Seuls 1641 certificats « OK compost HOME » sont actuellement attribués à des produits dans le monde entier</span>
						</li>
						<li class="flex mb-6 items-center">
							<span><div class="dot rounded-full mr-8"><img src="img/this/check.svg" alt=""></div></span>
							<span class="text-xl font-semibold underline"><a href="https://www.tuv.at/ok-compost-home/" target="_blank">https://www.tuv.at/ok-compost-home/</a>
							</span>
						</li>
					</ul>
				</figure>

				<p class="text-2xl font-semibold mb-10">
					Démocratiser le compostage
				</p>

				<p class="text-lg font-light mb-12">
					En Suisse, outre le composteur domestique pour les foyers qui y ont accès, les capsules Nespresso à base de papier peuvent être ramenées dans les boutiques Nespresso, grâce au sac dédié à ce produit. Et dans le canton de Genève, elles sont acceptées dans le système public de gestion des biodéchets, appelé « La P'tite Poubelle Verte ». Nespresso collabore par ailleurs activement avec d'autres autorités cantonales pour s’assurer que ses capsules à base de papier soient acceptées par les multiples services publics de gestion des biodéchets. Enfin, pour toutes les personnes n’ayant pas accès à des services ou options de compostage, les solutions en aluminium recyclé restent disponibles, le papier n’étant qu’une alternative de plus, pour que la durabilité soit à portée de chacun !
				</p>

			</div>
		</div>

		<figure class="color max-w-4xl mx-auto px-8 py-6 rounded-2xl mb-48">
			<h4 class="text-xl md:text-3xl mb-12 md:mb-10 text-center">
				Compostage bien géré,<br>ce qu’il faut savoir
			</h4>

			<div class="grid grid-cols-3 gap-x-8 justify-center mb-6">
				<div>
					<img src="img/this/icon-air-water.svg" class="mx-auto mb-2" alt="">
					<span class="font-light text-center block">S’assurer de la présence d’une quantité suffisante d’air et d’humidité dans le tas de compostage</span>
				</div>
				<div>
					<img src="img/this/icon-recyclable.svg" class="mx-auto mb-2" alt="">
					<span class="font-light text-center block">Effectuer une rotation manuelle ou une aération par d’autres moyens au moins trois fois par cycle de 12 mois</span>
				</div>
				<div>
					<img src="img/this/icon-grind.svg" class="mx-auto mb-2" alt="">
					<span class="font-light text-center block">Effectuer un déchiquetage mécanique des matières premières à texture grossière
					</span>
				</div>
			</div>

			<div class="flex justify-center">
				<div class="w-1/3">
					<img src="img/this/icon-scale.svg" class="mx-auto mb-2" alt="">
					<span class="font-light text-center block">Equilibrer le mélange de déchets de jardin et de cuisine lors du compostage
					</span>
				</div>
				<div class="w-1/3">
					<img src="img/this/icon-www.svg" class="mx-auto mb-2" alt="">
					<span class="font-light text-center block">Conseils en vidéo sur <a href="https://youtu.be/VM6VR5gU0Ho" class="font-semibold underline" target="_blank">www.nespresso.com/paper</a> 
					</span>
				</div>
			</div>
			
		</figure>



		

		

		

		<footer class="container py-8 max-w-full relative">   
			<div class="w-80 top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 absolute">
				{{ block('credits') }}  
			</div>
		</footer> 
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		
		{# <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
		<!-- <script src="js/counter-up.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
		<!-- <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script> -->
		
		<!-- <script src="js/yt.js"></script> --> 
		<script src="js/vendor/modernizr-3.11.2.min.js"></script> 
		<!-- <script src="js/plugins.js"></script> -->
		<script src="js/header.js"></script>
		<script src="js/apexcharts.min.js"></script>
		<!-- <script src="js/charts.js"></script> -->
		<script src="js/main.js"></script>
		{# <script src="js/intro.js"></script> #}
		<!-- <script src="js/headroom.min.js"></script> -->
		

	</div>
	</body>
</html>
